@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0000FF;
}

/* headings and logo */

h1, h2 {
    font-family: Bubblegum Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ff1493;

}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 160%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #FFA500;
    font-weight: 600;
}

#menu a:hover {
    color: #7d12ff;
}

.active {
   border-bottom: 2px solid #FFA500;
}

/* hero image and cover text */

#hero-outer {
    display: grid;
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    
    height: 600px;
    width: 50%;
    background: url('../images/hero-image.jpg') no-repeat center center;


    /* creates zoom effecton loading page */

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#cover-text, #cover-text h2 {
    color: #0000FF;
}

#cover-text {
    font-size: 130%;
    font-family: Bubblegum Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, 0.7);

    bottom: 200px;
    right: 300px;
    position: absolute;

}

/* second image holding hands */

#second-image {
    height: 300px;
    width: 300px;
}

#second-image img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

